.vehicle-details {
  width: 100%;
}

.vehicle-detail {
  background: rgba(255, 255, 255, 0.562);
  color: black;

  mat-divider {
    border-top-color: black;
  }

  h4, p {
    display: flex;
    flex: 1;
  }
}

.actions {
  width: 70%;
  height: 90%;
}
