<div class="vehicles-details-root" *ngIf="vehicle$ | async as vehicle">
  <p>{{vehicle.name}}</p>
  <div class="image-slider">
    <ng-image-slider
      [images]="vehicle.images"
      #nav
    ></ng-image-slider>
  </div>
  <div class="vehicle-details">
    <mat-list>
      <h3 matSubheader>Vehicle Make</h3>
      <mat-list-item *ngFor="let makeDetail of vehicle.makeDetails">
         <h4 matLine>{{makeDetail.key}}</h4>
         <p matLine class="demo-2">{{makeDetail.value}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- <h3 matSubheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
         <mat-icon matListIcon>note</mat-icon>
         <h4 matLine>{{note.name}}</h4>
         <p matLine class="demo-2"> {{note.updated}} </p>
      </mat-list-item> -->
   </mat-list>
  </div>
</div>