mat-card {
  height: 100%;
  width: 100%;
  text-align: center;

  > p:first-of-type {
    padding-top: 10px;
  }

  img {
    width: 300px;
    height: auto;

    &.no-img {
      width: 230px;
    }
  }
}